body 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(marita-kavelashvili-ugnrXk1129g-unsplash.jpg); 
    background-size: 100%;
    margin: 0;
}

header
{
    background-color:#9db99d;
    position: fixed; top: 0;
    height: 8em; width: 100%;
    float: left;
}

footer
{
    background-color: #9db99d;
    position: fixed; bottom: 0; 
    height: 8em; width: 100%; 
}

.linus
{
    border-style: groove;
    border-color: #9db99d;
}

.presentation
{
    padding-top: 14em; place-content: center;
    color: #121412;
    display: flex;
}

.infotext
{
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 28em;
    border-style: groove;
    border-color: #9db99d;
    background-color: rgba(239, 245, 239, 0.6);
}
.socialmedia
{
    padding: 2em;
}
.socialbuttons:hover 
{
    opacity: 0.7;
}
.meny
{
    padding: 2em;
}
.menyval
{
    padding: 4em;
}
.menyval:hover
{
    opacity: 0.7;
}
.formulär
{
    margin-top: 11em;
    padding: 2em;
    
    justify-content: center;
    color: #121412;
    border-style: groove;
    width: fit-content;
    border-color: #9db99d;
    background-color: rgba(239, 245, 239, 0.6);
}
.projekt
{
    padding-top: 14em; place-content: center;
    display: flex;
}
.projektbild
{
    filter: grayscale(100%);
    opacity: 0.7;
}
.projektbild:hover
{
    filter: none;
    opacity: 1;
}
.pyrpresentation
{
    padding-top: 10em; place-content: center;
    color: #121412;
    display: flex;
}
.pyramidenrun:hover
{
    transform:scale(1.3);
}