body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(marita-kavelashvili-ugnrXk1129g-unsplash.jpg);
    background-size: 100%;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    height: 8em;
    width: 100%;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: 8em;
    width: 100%;
    text-align: center;
}

ul{
    padding: 0;
}

.linus {
    border-radius: 12px;
}

.presentation {
    padding-top: 14em;
    place-content: center;
    color: #121412;
    display: flex;
}

.infotext {
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 28em;
    border-style: dashed;
    border-color: #9db99d;
    border-radius: 12px;
    background-color: rgba(239, 245, 239, 0.6);
}

.socialmedia {
    padding: 2em;
    filter: invert(100);
}

.socialbuttons:hover {
    transform: scale(1.5);
    opacity: 0.7;
}

.meny {
    padding-top: 2em;
    
    
}

.menyval {
    
    padding: 4em;
    display: inline;
    list-style: none;
    
    
}

.menyval:hover {
    opacity: 0.7;
}

.formulär {
    
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    color: #121412;
    border-style: dashed;
    border-radius: 12px;
    width: fit-content;
    border-color: #9db99d;
    background-color: rgba(239, 245, 239, 0.6);
}

.projekt {
    padding-top: 14em;
    place-content: center;
    display: flex;
    text-align: center;
}

.projektbild {
    filter: grayscale(100%);
    opacity: 0.7;
    border-radius: 12px;
}

.projektbild:hover {
    filter: none;
    opacity: 1;
}

.pyrpresentation {
    padding-top: 10em;
    place-content: center;
    color: #121412;
    display: flex;
}
.pyramidenrun{
    border-radius: 12px;
}
.pyramidenrun:hover {
    transform: scale(1.7);
}